<ng-container *ngIf="!loadingInitial">
  <app-pokenavbar></app-pokenavbar>
  <div class="container">
    <div class="left-container">
      <div class="poke-grid-container">
        <app-pokecard
          *ngFor="
            let poke of pokemons.slice(startIndex, endIndex);
            trackBy: trackPokemonById
          "
          [poke]="poke"
          (click)="setActivePokemon(poke)"
        ></app-pokecard>
      </div>
    </div>
    <app-pokeentry
      [class.search-active]="searchActive"
      *ngIf="activePokemonName"
      [pokemonName]="activePokemonName"
      #entry
    ></app-pokeentry>
  </div>
</ng-container>
